build/
dist
pkg
tmp
nbproject/private
Duby Plugin/nbproject/private
examples/appengine/war/
*.class
target
.redcar
.DS_Store
Gemfile.lock
vendor/
*~
.*/
stub
.ruby-*

tmp_test

# ignore generated jar files
javalib/*
maven/mirah/lib/
maven/mvn-repo/
# git ignore netbeans files

nb-configuration.xml
.idea
*.iml